
.logo {
  float:left;
  max-width: 120px;
}

.container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 650px 100px;
}

.header {
  grid-column: 1 / -1;
  margin: 10px;
  padding:10px 20px;
  border-bottom: 1px solid grey;
}



.content {
  grid-column: 1 / -1;
  margin: 10px ;
  
  padding:10px 20px;

}

.cardList{

  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: auto;
  margin:20px 40px;
}

.card{
  width: 300px;
  font-size: 16px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}
.card--image {
  width: 100%;
  max-height:400px;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.cardDetail{
  display: flex;
  justify-content: flex-start;
  gap:10px;
}

.star_grey{
  width: 20px;
  color:grey;
}

.star_red{
  width: 20px;
  color:red;
}
.footer {
  grid-column: 1 / -1;
  margin: 10px ;
  border-top: 1px solid grey;
  padding:10px 20px;
  text-align: center;
}

a{
  margin: 0px 10px ;
  color:black;
}

